#title {
    text-align: center;
}

.search-fields {
    display: flex;
}

.dropdown-menu {
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: blue;
    font-size: 20px;
}

.img {
    float: left;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.column .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.column .btn:hover {
    background-color: black;
}

.column img {
    width: 98%;
    height: 200px;
}

.column {
    position: relative;
    width: 25%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.wine-image {
    width: 75px;
    height: 200px;
    object-fit: scale-down;
}

#favorites-list {
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    height: 300px;
}

#favorites-list .wineCard {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

#scrolling-results-box {
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    height: 300px;
}

#scrolling-results-box .wineCard {
    display: inline-block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.wineNameTrun {
    text-overflow: ellipsis;
}

.wine-card {
    width: 25%;
}

.sparkles {
    height: 25px;
    width: 25px;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .dark-mode {
    background-color: rgb(30, 30, 30);
    color: white;
  }

 #dark-mode {
      position: absolute;
      right: 10px;
      top: 50px;
  }